@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  color: theme('colors.stone.900');
}
input::placeholder,
textarea::placeholder {
  color: theme('colors.stone.400');
}

:root {
  --plyr-color-main: #000;      /* Sets the main color for the progress bar and controls */
  --plyr-control-radius: 8px;     /* Rounds the corners of the controls */
  --plyr-font-family: inherit;    /* Makes the player use your site's font */
}

/* This rule hides the buffer bar, as we configured previously */
.plyr__progress__buffer {
  display: none !important;
}