@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  color: theme('colors.stone.900');
}
input::placeholder,
textarea::placeholder {
  color: theme('colors.stone.400');
}
.react-plyr-wrapper {
  /* This specifically sets the audio player's background color. */
  --plyr-audio-controls-background: #fafaf9; /* stone-50 color */
  
  /* This sets the accent color for the progress bar and icons. */
  --plyr-color-main: #000;
}

/* These rules hide the default browser controls and the buffer bar. */
.react-plyr-wrapper audio::-webkit-media-controls-panel,
.react-plyr-wrapper .plyr__progress__buffer {
  display: none !important;
}